<%= render @friend %>

<div>
  <%= link_to "Edit", edit_friend_path(@friend), class: "btn btn-primary" %>
  <%= link_to "Back", friends_path, class: "btn btn-success"%>
</div>
<br>

<%= button_to "Destroy", @friend, method: :delete, data:{confirm: "Você tem certeza? "}, class: "btn btn-danger" %>